<!DOCTYPE html>
<html>
<head>
	<title>Survey Form</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div id="posted">
		<h1>Submitted Information</h1>
		<h3>Name: <%= survey_info.name %></h3>
		<h3>Dojo Location: <%= survey_info.location %></h3>
		<h3>Favorite Language: <%= survey_info.language %></h3>
		<h3>Comment: <%= survey_info.comment %></h3>
		<a href="/">Go Back</a>
	</div>
</body>
</html>